@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --modal-duration: 0.8s;
  --primary-color: #31358d;
  --secondary-color: #475cd3;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

nav {
  background: var(--primary-color);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 10;
  transform: translateX(-100%);
}

nav .logo {
  padding: 1.5rem 0;
  text-align: center;
}

nav .logo img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 1.25rem;
}

nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

nav ul li a:hover {
  text-decoration: underline;
}

header {
  background: var(--primary-color);
  color: #fff;
  font-size: 130%;
  position: relative;
  padding: 40px 15px;
  text-align: center;
}

h1 {
  margin: 2rem 0;
}

h2 {
  color: var(--secondary-color);
}

p {
  margin: 30px 0;
}

button,
input[type='submit'] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
}

button:focus {
  outline: none;
}

.toggle {
  position: absolute;
  top: 20px;
  left: 20px;
}

.cta {
  padding: 12px 30px;
  font-size: 20px;
}

.container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
}

.modal-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
}

.modal-header h3 {
  margin: 0;
}

.modal-content {
  padding: 1.25rem;
}

.modal-form div {
  margin: 1rem 0;
}

.modal-form label {
  display: block;
  margin-bottom: 0.25rem;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}

.close-btn {
  background: transparent;
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  right: 0;
}
